<!DOCTYPE html>
<html>
<head>
  <title>LindsayBioApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

~~ this is a heading I added to the layouts / application file ~~

<%= yield %>

~~ this is where the footer would go ~~

</body>
</html>
